<script>
  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll(".music-cards .card");

    cards.forEach((card) => {
      const playButton = card.querySelector(".fa.fa-play-circle");
      card.addEventListener("mouseover", function () {
        playButton.classList.add("show-play");
      });

      card.addEventListener("mouseout", function () {
        playButton.classList.remove("show-play");
      });
    });
  });

  const sidebarMenu = document.querySelector(".sidebar-menu");
  const homeLi = document.getElementById("homeLi");
  const libraryLi = document.querySelector(".library-heading").parentNode;
  const spotify_playlist = document.querySelector("#spotify-playlist");
  const browse_section = document.querySelector("#browse-section");
  const categoryrow = document.querySelector("#categoryrow");
  const logo_tag = document.querySelector("#logo-tag");

  logo_tag.addEventListener("click", function (event) {
    event.preventDefault();
    window.location.href = "{% url 'home' %}";
  });

  homeLi.addEventListener("click", function (event) {
    event.preventDefault();
    window.location.href = "{% url 'home' %}";
  });


  const cards = document.querySelectorAll(".categories-card");
  console.log(cards);
  cards.forEach((card) => {
    card.addEventListener("mouseover", () => {
      const bgColor = card.dataset.color;
      card.style.boxShadow = `0px 0px 32px 6px ${bgColor}`;
      card.style.opacity = 1;
    });

    card.addEventListener("mouseleave", () => {
      card.style.boxShadow = "";
    });
  });

const tracklist_rows = document.querySelectorAll('.tracklist-row-data');
let currentPlayingIcon = null;
const songs = [];


tracklist_rows.forEach((row) => {
    let playbuttonDiv = null;
    let originalNumber = row.querySelector('.tracklits-number').textContent.trim();

    const AllSongID = row.getAttribute('data-song-id');
    const AllsongFile = row.getAttribute('data-song');
    songs.push({ id: AllSongID, file: AllsongFile });
    row.addEventListener("mouseover", () => {
        row.style.boxShadow = '0px 0px 32px 6px #ccc';
        row.style.borderRadius = '5px';
        const play_icon = document.createElement('i');
        play_icon.classList.add('fa', 'fa-play', 'hoverplaybutton');
        play_icon.style.fontSize = '15px';
        play_icon.style.cursor = 'pointer';
        if (!playbuttonDiv) {
            playbuttonDiv = document.createElement('div');
            playbuttonDiv.classList.add('playlist-icon-play', 'd-flex', 'my-3', 'mx-0', 'align-items-center');
            play_icon.addEventListener("click", () => {
              const songID = row.getAttribute('data-song-id');
              row.querySelector('.tracklist-title').style.color = '#1db954';
              row.querySelector('.track-artist').style.color = '#1db954';
              const songTitle = row.querySelector('.tracklist-title').textContent.trim();
              const songArtist = row.querySelector('.track-artist').textContent.trim();
              const songImage = row.querySelector('.tracklist-image').getAttribute('src');
              const songFile = row.getAttribute('data-song');
              const songAlbum = row.querySelector('.tracklist-cell:nth-child(3) a').textContent.trim();
              const songDuration = row.querySelector('.tracklist-cell:nth-child(4)').textContent.trim();
              update_song_information(row, songTitle, songImage, songArtist, songAlbum, songDuration, songFile);
              
              if (play_icon.classList.contains('fa-play')) {
                  audio.play();
                  play_icon.classList.remove('fa-play');
                  play_icon.classList.add('fa-pause');
              } else {
                  
                  audio.pause();
                  play_icon.classList.remove('fa-pause');
                  play_icon.classList.add('fa-play');
              }
          });
          
            playbuttonDiv.classList.add('playlist-icon-play');
            playbuttonDiv.appendChild(play_icon);
            row.querySelector('.tracklits-number').innerHTML = ''; 
            row.querySelector('.tracklits-number').appendChild(playbuttonDiv);
        }
    });

    row.addEventListener("mouseleave", () => {
      row.style.boxShadow = "";
      row.style.borderRadius = ''; 
      if (playbuttonDiv && !playbuttonDiv.querySelector('.fa-pause')) {
          row.querySelector('.tracklits-number').removeChild(playbuttonDiv); 
          playbuttonDiv = null;
          row.querySelector('.tracklits-number').innerHTML = `<span>${originalNumber}</span>`;
      }
  });
  
});

  

function update_song_information(row,songTitle, songImage, songArtist, songAlbum, songDuration,songFile) {
  const musicImage = document.querySelector('.music-image');
  const musicTitle = document.querySelector('.music-title');
  const musicArtist = document.querySelector('.music-artist');
  const musicDuration = document.querySelector('.progress-ending');

  musicImage.src = songImage;
  musicTitle.textContent = songTitle;
  musicArtist.textContent = songAlbum;
  musicDuration.textContent = songDuration;
  playSong(row,songFile);
}

window.onload = function() {
  // Your code here
  tracklist_rows.forEach((row) => {
    const songTitle1 = row.querySelector('.tracklist-title').textContent.trim();
    const songArtist1 = row.querySelector('.track-artist').textContent.trim();
    const songImage1 = row.querySelector('.tracklist-image').getAttribute('src');
    const songFile1 = row.getAttribute('data-song');
    const songAlbum1 = row.querySelector('.tracklist-cell:nth-child(3) a').textContent.trim();
    const songDuration1 = row.querySelector('.tracklist-cell:nth-child(4)').textContent.trim();
    const musicImage1 = document.querySelector('.music-image');
    const musicTitle1 = document.querySelector('.music-title');
    const musicArtist1 = document.querySelector('.music-artist');
    const musicDuration1 = document.querySelector('.progress-ending');

    musicImage1.src = songImage1;
    musicTitle1.textContent = songTitle1;
    musicArtist1.textContent = songAlbum1;
    musicDuration1.textContent = songDuration1;
  });
};


let currentAudio = null;
let progressBar = document.getElementById("progressBar");
let progressStarting = document.querySelector(".progress-starting");
let progressEnding = document.querySelector(".progress-ending");
let volumeRange  = document.querySelector(".music-volume");
const volumePercentage = document.querySelector('.music-volume-percentage');
const volumeIcon = document.querySelector('.music-volume-icon');

let audio = new Audio();
function playSong(row, songName) {
  if (currentAudio) {
      currentAudio.pause();
  }
  audio.src = songName;
  audio.volume = 0.3;
  try {
      audio.addEventListener('canplaythrough', () => {
          audio.play();
          currentAudio = audio; 
          const playlist_icon_play = row.querySelector(".hoverplaybutton");
          const tracklist_numbers = document.querySelectorAll('.tracklits-number');
          tracklist_numbers.forEach(number => {
              playlist_icon_play.addEventListener('click', () => {
                  if (audio.paused) {
                      audio.play();
                      playlist_icon_play.classList.remove('fa-play');
                      playlist_icon_play.classList.add('fa-pause');
                      row.querySelector('.tracklist-title').style.color = '#1db954';
                      row.querySelector('.track-artist').style.color = '#1db954';
                  } else {
                      audio.pause();
                      playlist_icon_play.classList.remove('fa-pause');
                      playlist_icon_play.classList.add('fa-play');
                      row.querySelector('.tracklist-title').style.color = '#fff';
                      row.querySelector('.track-artist').style.color = '#fff';
                  }
              });

              audio.addEventListener('pause', () => {
                  playlist_icon_play.classList.remove('fa-pause');
                  playlist_icon_play.classList.add('fa-play');
                  row.querySelector('.tracklist-title').style.color = '#fff';
                  row.querySelector('.track-artist').style.color = '#fff';
              });

            const MainplayButton = document.querySelector('#MainplayButton');
            MainplayButton.classList.remove('fa-play-circle');
            MainplayButton.classList.add('fa-pause-circle');
            MainplayButton.style.fontSize = '35px';
            MainplayButton.addEventListener('click', () => {
                if (audio.paused) {
                    audio.play();
                    MainplayButton.classList.remove('fa-play-circle');
                    MainplayButton.classList.add('fa-pause-circle');
                } else {
                    audio.pause();
                    MainplayButton.classList.remove('fa-pause-circle');
                    MainplayButton.classList.add('fa-play-circle');
                }
            });
          });
          audio.addEventListener('timeupdate', () => {
            let currentTime = audio.currentTime;
            let duration = audio.duration;
            let progress = (currentTime / duration) * 100;
            progressBar.value = progress;
            progressStarting.textContent = formatTime(currentTime);
            progressEnding.textContent = formatTime(duration);
        });
      });
  } catch (e) {
      console.log("error while playing " + e);
  }
}

function formatTime(time) {
  let minutes = Math.floor(time / 60);
  let seconds = Math.floor(time % 60);
  seconds = seconds < 10 ? '0' + seconds : seconds;
  return minutes + ':' + seconds;
}


volumeRange.addEventListener('input', () => {
  if (currentAudio) {
      let volume = volumeRange.value;
      currentAudio.volume = volume / 100;

      if (volume <= 1) {
          volumePercentage.style.display = 'flex';
          volumePercentage.innerHTML = '<i class="material-icons" style="font-size:20px;color:#ccc;">volume_off</i>';
      } else {
          volumePercentage.textContent = volume + '%';
      }
  }
});

progressBar.addEventListener('click', (e) => {
  const percent = e.offsetX / progressBar.offsetWidth;
  currentAudio.currentTime = currentAudio.duration * percent;
});

</script>



<!-- better way bit but has 2 issues

1. when playing first time song then progress bar of song when i click to go to a specifc time or i want to jump for a specific time in song then it does not happen in first time

2. suppose first song is playing and on that song a pause icon is displaying as we 
write code ,so if i play another song without pause it then second song is playing fine 
but pause icon is not changed for first song that is now pause actually , so this 
synchronization should be automatically , if i do play other song and if some other
song is playing then automatically first song should be pause and their icon to play 
again then second song should be play  and like so for all 

  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll(".music-cards .card");

    cards.forEach((card) => {
      const playButton = card.querySelector(".fa.fa-play-circle");
      card.addEventListener("mouseover", function () {
        playButton.classList.add("show-play");
      });

      card.addEventListener("mouseout", function () {
        playButton.classList.remove("show-play");
      });
    });
  });

  const sidebarMenu = document.querySelector(".sidebar-menu");
  const homeLi = document.getElementById("homeLi");
  const libraryLi = document.querySelector(".library-heading").parentNode;
  const spotify_playlist = document.querySelector("#spotify-playlist");
  const browse_section = document.querySelector("#browse-section");
  const categoryrow = document.querySelector("#categoryrow");
  const logo_tag = document.querySelector("#logo-tag");

  logo_tag.addEventListener("click", function (event) {
    event.preventDefault();
    window.location.href = "{% url 'home' %}";
  });

  homeLi.addEventListener("click", function (event) {
    event.preventDefault();
    window.location.href = "{% url 'home' %}";
  });


  const cards = document.querySelectorAll(".categories-card");
  console.log(cards);
  cards.forEach((card) => {
    card.addEventListener("mouseover", () => {
      const bgColor = card.dataset.color;
      card.style.boxShadow = `0px 0px 32px 6px ${bgColor}`;
      card.style.opacity = 1;
    });

    card.addEventListener("mouseleave", () => {
      card.style.boxShadow = "";
    });
  });

const tracklist_rows = document.querySelectorAll('.tracklist-row-data');
let currentPlayingIcon = null;
const songs = [];


tracklist_rows.forEach((row) => {
    let playbuttonDiv = null;
    let originalNumber = row.querySelector('.tracklits-number').textContent.trim();

    const AllSongID = row.getAttribute('data-song-id');
    const AllsongFile = row.getAttribute('data-song');
    songs.push({ id: AllSongID, file: AllsongFile });
    row.addEventListener("mouseover", () => {
        row.style.boxShadow = '0px 0px 32px 6px #ccc';
        row.style.borderRadius = '5px';
        const play_icon = document.createElement('i');
        play_icon.classList.add('fa', 'fa-play', 'hoverplaybutton');
        play_icon.style.fontSize = '15px';
        play_icon.style.cursor = 'pointer';
        if (!playbuttonDiv) {
            playbuttonDiv = document.createElement('div');
            playbuttonDiv.classList.add('playlist-icon-play', 'd-flex', 'my-3', 'mx-0', 'align-items-center');
            play_icon.addEventListener("click", () => {
              const songID = row.getAttribute('data-song-id');
              row.querySelector('.tracklist-title').style.color = '#1db954';
              row.querySelector('.track-artist').style.color = '#1db954';
              const songTitle = row.querySelector('.tracklist-title').textContent.trim();
              const songArtist = row.querySelector('.track-artist').textContent.trim();
              const songImage = row.querySelector('.tracklist-image').getAttribute('src');
              const songFile = row.getAttribute('data-song');
              const songAlbum = row.querySelector('.tracklist-cell:nth-child(3) a').textContent.trim();
              const songDuration = row.querySelector('.tracklist-cell:nth-child(4)').textContent.trim();
              update_song_information(row, songTitle, songImage, songArtist, songAlbum, songDuration, songFile);
              
              if (play_icon.classList.contains('fa-play')) {
                  audio.play();
                  play_icon.classList.remove('fa-play');
                  play_icon.classList.add('fa-pause');
              } else {
                  
                  audio.pause();
                  play_icon.classList.remove('fa-pause');
                  play_icon.classList.add('fa-play');
              }
          });
          
            playbuttonDiv.classList.add('playlist-icon-play');
            playbuttonDiv.appendChild(play_icon);
            row.querySelector('.tracklits-number').innerHTML = ''; 
            row.querySelector('.tracklits-number').appendChild(playbuttonDiv);
        }
    });

    row.addEventListener("mouseleave", () => {
      row.style.boxShadow = "";
      row.style.borderRadius = ''; 
      if (playbuttonDiv && !playbuttonDiv.querySelector('.fa-pause')) {
          row.querySelector('.tracklits-number').removeChild(playbuttonDiv); 
          playbuttonDiv = null;
          row.querySelector('.tracklits-number').innerHTML = `<span>${originalNumber}</span>`;
      }
  });
  
});

let currentAudio = null;
let progressBar = document.getElementById("progressBar");
let progressStarting = document.querySelector(".progress-starting");
let progressEnding = document.querySelector(".progress-ending");
let volumeRange = document.querySelector(".music-volume");
const volumePercentage = document.querySelector('.music-volume-percentage');
const volumeIcon = document.querySelector('.music-volume-icon');

let audio = new Audio();

function playSong(row, songName) {
  if (currentAudio && !currentAudio.paused) {
      currentAudio.pause();
  }
  audio.src = songName;
  audio.volume = 0.3;
  try {
      audio.addEventListener('canplaythrough', () => {
          if (!currentAudio || currentAudio.paused) {
              audio.play();
          }
          currentAudio = audio; 
          const playlist_icon_play = row.querySelector(".hoverplaybutton");
          const tracklist_numbers = document.querySelectorAll('.tracklits-number');
          tracklist_numbers.forEach(number => {
              playlist_icon_play.addEventListener('click', () => {
                  if (audio.paused) {
                      audio.play();
                      playlist_icon_play.classList.remove('fa-play');
                      playlist_icon_play.classList.add('fa-pause');
                      row.querySelector('.tracklist-title').style.color = '#1db954';
                      row.querySelector('.track-artist').style.color = '#1db954';
                  } else {
                      audio.pause();
                      playlist_icon_play.classList.remove('fa-pause');
                      playlist_icon_play.classList.add('fa-play');
                      row.querySelector('.tracklist-title').style.color = '#fff';
                      row.querySelector('.track-artist').style.color = '#fff';
                  }
              });

              audio.addEventListener('pause', () => {
                  playlist_icon_play.classList.remove('fa-pause');
                  playlist_icon_play.classList.add('fa-play');
                  row.querySelector('.tracklist-title').style.color = '#fff';
                  row.querySelector('.track-artist').style.color = '#fff';
              });

            const MainplayButton = document.querySelector('#MainplayButton');
            MainplayButton.classList.remove('fa-play-circle');
            MainplayButton.classList.add('fa-pause-circle');
            MainplayButton.style.fontSize = '35px';
            MainplayButton.addEventListener('click', () => {
                if (audio.paused) {
                    audio.play();
                    MainplayButton.classList.remove('fa-play-circle');
                    MainplayButton.classList.add('fa-pause-circle');
                } else {
                    audio.pause();
                    MainplayButton.classList.remove('fa-pause-circle');
                    MainplayButton.classList.add('fa-play-circle');
                }
            });
          });
          audio.addEventListener('timeupdate', () => {
            let currentTime = audio.currentTime;
            let duration = audio.duration;
            let progress = (currentTime / duration) * 100;
            progressBar.value = progress;
            progressStarting.textContent = formatTime(currentTime);
            progressEnding.textContent = formatTime(duration);
        });
      });
  } catch (e) {
      console.log("error while playing " + e);
  }
}

function update_song_information(row, songTitle, songImage, songArtist, songAlbum, songDuration, songFile) {
  const musicImage = document.querySelector('.music-image');
  const musicTitle = document.querySelector('.music-title');
  const musicArtist = document.querySelector('.music-artist');
  const musicDuration = document.querySelector('.progress-ending');

  musicImage.src = songImage;
  musicTitle.textContent = songTitle;
  musicArtist.textContent = songAlbum;
  musicDuration.textContent = songDuration;
  playSong(row, songFile);
}

window.onload = function() {
  tracklist_rows.forEach((row) => {
    const songTitle1 = row.querySelector('.tracklist-title').textContent.trim();
    const songArtist1 = row.querySelector('.track-artist').textContent.trim();
    const songImage1 = row.querySelector('.tracklist-image').getAttribute('src');
    const songFile1 = row.getAttribute('data-song');
    const songAlbum1 = row.querySelector('.tracklist-cell:nth-child(3) a').textContent.trim();
    const songDuration1 = row.querySelector('.tracklist-cell:nth-child(4)').textContent.trim();
    const musicImage1 = document.querySelector('.music-image');
    const musicTitle1 = document.querySelector('.music-title');
    const musicArtist1 = document.querySelector('.music-artist');
    const musicDuration1 = document.querySelector('.progress-ending');

    musicImage1.src = songImage1;
    musicTitle1.textContent = songTitle1;
    musicArtist1.textContent = songAlbum1;
    musicDuration1.textContent = songDuration1;
  });
};

volumeRange.addEventListener('input', () => {
  if (currentAudio) {
    let volume = volumeRange.value;
    currentAudio.volume = volume / 100;

    if (volume <= 1) {
      volumePercentage.style.display = 'flex';
      volumePercentage.innerHTML = '<i class="material-icons" style="font-size:20px;color:#ccc;">volume_off</i>';
    } else {
      volumePercentage.textContent = volume + '%';
    }
  }
});

progressBar.addEventListener('click', (e) => {
  const percent = e.offsetX / progressBar.offsetWidth;
  if (currentAudio) {
    currentAudio.currentTime = currentAudio.duration * percent;
  }
});

audio.addEventListener('timeupdate', () => {
  let currentTime = audio.currentTime;
  let duration = audio.duration;
  let progress = (currentTime / duration) * 100;

  // Check if progress is a valid number
  if (!isNaN(progress) && isFinite(progress)) {
    progressBar.value = progress;
  }

  progressStarting.textContent = formatTime(currentTime);
  progressEnding.textContent = formatTime(duration);
});

function formatTime(time) {
  let minutes = Math.floor(time / 60);
  let seconds = Math.floor(time % 60);
  seconds = seconds < 10 ? '0' + seconds : seconds;
  return minutes + ':' + seconds;
}


</script>


-->

