{% extends 'base.html' %}
{% load static %}
{% block title %}Login - Spotify{% endblock title %}
{% block content %}

<div class="fluid-container">
    <div class="navbar-login">
        <a href="{% url 'home' %}" id="logo-tag">
            <div class="spotify_logo-login font-weight-bold">
                <img src="{% static 'spotifyapp/images/spotify_logo.png' %}" alt="Spotify Logo" class="navbar-logo">
                <span>Spotify</span>
            </div>
        </a>
        <div class="signup-container-heading">
            <div class="container" style="padding: 0 130px;">
                <div class="forgot-password-heading">
                    <h2>Reset your password</h2>
                    <p>
                        Enter your email address or username, and we'll send you a link to get back into your account.
                    </p>
                </div>
                <div class="signup-form">
                    <div class="forgot-form-group">
                        <div class="label-group">
                            <label for="signup-username" class="forgot-password-username">Email address or username</label>
                        </div>
                        <input type="email" id="signup-username" autocomplete="off" placeholder="name@domain.com" class="form-control" autocorrect="off">
                    </div>
                    <div class="signup-alternate">
                        <a id="need-support" href="#" class="alternate-method">
                            <span>Need support?</span>
                        </a>
                    </div>
                    <div class="logged-btn">
                        <button>
                            <span class="span-text">
                                <span>
                                    Send link
                                </span>
                            </span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer hidden-print">
    <div class="footer-content">
        <p>This site is protected by reCAPTCHA and the Google <a class="terms-policies" href="#">Privacy Policy</a> and <a class="terms-policies" href="#">Terms of Service</a> apply.</p>
    </div>
</footer>


{% endblock content %}