{% extends 'base.html' %}
{% load static %}
{% block title %}Spotify - Web Player{% endblock title %}
{% block content %}

<div class="sidebar">
    <a href="#" id="logo-tag">
        <div class="spotify_logo">
        <img src="{% static 'spotifyapp/images/spotify_logo.png' %}" alt="Spotify Logo" class="sidebar-logo">
        <span>Spotify</span>
        </div>
    </a>
    <ul class="sidebar-menu">
        <li id="homeLi"><i class="fa fa-home"></i><span>Home</span></li>
        <li id="searchLi"><i class="fa fa-search"></i><span>Search</span></li>
        <li>
            <i class="fa fa-book"></i>
            <span class="library-heading">Your Library</span>
            <i class="fa fa-plus"></i>
        </li>
            <div class="library-content">
                <div class="scrollbar">
                    <div class="playlist">
                        <p>Create your first playlist</p>
                        <span>It's easy, we will help you</span><br>
                        <a href="#" class=" btn create-playlist">Create Playlist</a>
                    </div>
                    <div class="podcasts">
                        <p>Let's find some podcasts to follow</p>
                        <span>We'll keep you updated on new episodes</span><br>
                        <a href="#" class="btn create-podcasts">Browse Podcasts</a>
                    </div>
                </div>
            </div>
    </ul>            
    <div class="sidebar-footer">
        <a href="#">Legal</a>
        <a href="#">Safety & Privacy Center</a>
        <a href="#">PrivacyPolicy</a>
        <a href="#">Cookies</a>
        <a href="#">About Ads</a>
        <a href="#">Accessibility</a>
        <a href="#">Cookies</a>
    </div>
    <div class="sidebar-globe">
        <i class="fa fa-globe"></i><a href="#">English</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cards = document.querySelectorAll('.music-cards .card');
    
        cards.forEach(card => {
            const playButton = card.querySelector('.fa.fa-play-circle');
    
            card.addEventListener('mouseover', function() {
                playButton.classList.add('show-play');
            });
    
            card.addEventListener('mouseout', function() {
                playButton.classList.remove('show-play');
            });
        });
    });
    
    const searchbox = document.querySelector('#searchbox');
    const searchtext = document.querySelector('.search-groups span');
    searchbox.addEventListener('input', function() {
        if (searchbox.value.trim() === '') {
            searchtext.style.display = 'inline';
        } else {
            searchtext.style.display = 'none';
        }
    });

    const searchbar = document.querySelector('.searchbar');
    const sidebarMenu = document.querySelector('.sidebar-menu');
    const homeLi = document.getElementById('homeLi');
    const libraryLi = document.querySelector('.library-heading').parentNode;
    const spotify_playlist = document.querySelector('#spotify-playlist');
    const browse_section = document.querySelector('#browse-section');
    const categoryrow = document.querySelector('#categoryrow');
    const logo_tag = document.querySelector('#logo-tag'); 
    let searchLi = document.querySelector('#searchLi');


    logo_tag.addEventListener('click', function(event) {
        event.preventDefault();
        browse_section.style.display = "none";
    });


    searchLi.addEventListener('click', function(event) {
        searchbar.style.display = 'block';
        spotify_playlist.style.display = 'none';
        browse_section.style.display = 'block';
    });

    homeLi.addEventListener('click', function(event) {
        searchbar.style.display = 'none';
        spotify_playlist.style.display = 'block';
        browse_section.style.display = 'none';
    });

    libraryLi.addEventListener('click', function(event) {
        searchbar.style.display = 'none';
        spotify_playlist.style.display = 'block';
        browse_section.style.display = 'none';
    });

        const cards = document.querySelectorAll('.categories-card');
        console.log(cards);
        cards.forEach(card => {
            card.addEventListener('mouseover', () => {
                const bgColor = card.dataset.color;
                card.style.boxShadow = `0px 0px 32px 6px ${bgColor}`;
                card.style.opacity = 1;
            });

            card.addEventListener('mouseleave', () => {
                card.style.boxShadow = '';
            });
        });
        
</script>
{% endblock content %}